.snakemake/
.git/
__pycache__/
*.pyc
.env/
.venv/
resources/
results/
.snakemake.*
old_scripts/
dag.svg
test/
copilot*
example/example_output/.snakemake/
example/example_output/logs/*
example/example_output/subtool_outputs/fastspar/bootstrap/*
example/example_output/subtool_outputs/fastspar/correlations/*
